[Desktop Entry]
Type=Application
Name=Microsoft Excel
Exec=appify "https://excel.office.com/"
Icon=microsoft-excel
StartupWMClass=excel.office.com
StartupNotify=true
