[Desktop Entry]
Type=Application
Name=Microsoft OneDrive
Exec=appify-identpro "https://identpro-my.sharepoint.com/"
Icon=microsoft-onedrive
StartupWMClass=identpro-my.sharepoint.com
StartupNotify=true
