[Desktop Entry]
Type=Application
Name=Microsoft OneNote
Exec=appify "https://onenote.office.com/"
Icon=microsoft-onenote
StartupWMClass=onenote.office.com
StartupNotify=true
