[Desktop Entry]
Type=Application
Name=Microsoft Outlook
Exec=appify-identpro "https://outlook.office.com/"
Icon=microsoft-outlook
StartupWMClass=outlook.office.com
StartupNotify=true
