[Desktop Entry]
Type=Application
Name=Microsoft PowerPoint
Exec=appify "https://powerpoint.office.com/"
Icon=microsoft-powerpoint
StartupWMClass=powerpoint.office.com
StartupNotify=true
