[Desktop Entry]
Type=Application
Name=Microsoft Word
Exec=appify "https://word.office.com/"
Icon=microsoft-word
StartupWMClass=word.office.com
StartupNotify=true
